<nav class="navbar navbar-default navbar-fixed-top top-bar" role="navigation">
    <div class="container-fluid">
        <div id="navbar">
            <div class="nav navbar-nav"><a href ng-init="filterPanelVisible = true" ng-click="filterPanelVisible = !filterPanelVisible">Filter</a></div>
        </div>
    </div>
</nav>

<div class="panel panel-default" ng-if="filterPanelVisible">
    <div class="panel-body">
        <div class="btn-toolbar row" ng-repeat="filter in filters">
            <span class="col-md-1">{{filter.name}}</span>
            <button class="btn btn-sm btn-link col-md-1" ng-class="{selected:tag.enabled}" type="button" ng-repeat="tag in filter.tags"
                ng-click="toggleFilterKeyword(filter, tag.keyword)">
                {{tag.keyword}} <span class="badge">{{tag.matchedCount}}</span>
            </button>
        </div>
    </div>
</div>

<div image-grid grid-data="images" grid-setting="settings"></div>

<nav class="navbar navbar-default navbar-fixed-bottom bottom-bar" role="navigation">
    <div class="container-fluid">
        <div id="navbar">
            <div class="nav navbar-nav file-container" ng-repeat="container in containers">
                 <img ng-src="{{settings.webRoot}}/images/folder{{$index%9}}.png" />
                 <div class="caption" >
                     <p>{{container.name}}<span class="badge">{{container.images.length}}</span> </p>
                 </div>
            </div>

        </div>
    </div>
</nav>

