<nav class="navbar navbar-default navbar-fixed-top top-bar" role="navigation">
    <div class="container-fluid">
        <div id="navbar">
            <div class="nav navbar-nav"><a ng-init="filterPanelVisible = true" ng-click="filterPanelVisible = !filterPanelVisible">Filter</a></div>
        </div>
    </div>
</nav>

<div class="toolbar-panel row" ng-if="filterPanelVisible">
        <div class="col-md-2" ng-repeat="filter in filters">
            <div>{{filter.name}}</div>
            <ul class="toolbar-list-group">
                <button class="btn btn-link list-group-item" ng-class="{selected:tag.enabled}" type="button" ng-repeat="tag in filter.tags"
                    ng-click="toggleFilterKeyword(filter, tag.keyword)">
                    {{tag.keyword}} <span class="badge">{{tag.matchedCount}}</span>
                </button>
            </ul>
        </div>
        <div class="col-md-2">
            <div>Limits</div>
            <ul class="toolbar-list-group">
                <button class="btn btn-link list-group-item">
                    <span class="sm-control-label">Width</span>
                    <input type="text" class="sm-control" aria-label="Min" >
                    <span class="">-</span>
                    <input type="text" class="sm-control" aria-label="Max" >
                </button>
                <button class="btn btn-link list-group-item">
                    <span class="sm-control-label">Height</span>
                    <input type="text" class="sm-control" aria-label="Min" >
                    <span class="">-</span>
                    <input type="text" class="sm-control" aria-label="Max" >
                </button>
                <button class="btn btn-link list-group-item">
                    <span class="sm-control-label">Size</span>
                    <input type="text" class="sm-control" aria-label="Min" >
                    <span class="">-</span>
                    <input type="text" class="sm-control" aria-label="Max" >
                </button>
            </ul>
        </div>
</div>

<div image-grid grid-data="images" grid-setting="settings"></div>

<nav class="navbar navbar-default navbar-fixed-bottom bottom-bar" role="navigation">
    <div class="container-fluid">
        <div id="navbar">
            <div class="nav navbar-nav file-container" ng-repeat="container in containers">
                 <img ng-src="{{settings.webRoot}}/images/folder{{$index%9}}.png" />
                 <div class="caption" >
                     <p>{{container.name}}<span class="badge">{{container.images.length}}</span> </p>
                 </div>
            </div>

        </div>
    </div>
</nav>

