.imgbox {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: auto;
  line-height: 1.42857143;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  padding: 4px;
}

.imgbox>img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.imgbox-focus {
  box-shadow: 0 0 2px 1px rgba(40, 120, 212, 0.7) inset, 0 0 3px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.7) inset;
}

.caption>p {
  margin-bottom: 0px;
}

body {
  padding-top: 29px;
  padding-bottom: 70px;
}

.top-bar {
  min-height: 30px;
  max-height: 30px;
  padding-top: 3px;
  margin-bottom: 3px;
}

.bottom-bar {
  height: 70px;
  padding-top: 3px;
  margin-bottom: 3px;
}

.file-container {
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
}

.file-container img {
  width: 50px;
  height: 50px;
}

.navbar-right {
  float: right;
}

.nav-tabs {
  margin-bottom: 5px;
}

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 8px;
}

.view-action {
  padding-left: 3px;
  display: inline-block;
  float: right;
  height: 20px;
}

button>.badge {
  color: white;
  background-color: silver;
}

button.selected>.badge {
  color: white;
  background-color: #F0AD4E;
}

.sm-control {
  height: 22px;
  width: 60px;
  padding: 5px 10px;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.sm-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.list-group-item {
  height: 32px;
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid #ddd;
}

.toolbar-list-group {
  padding-left: 0px;
  margin-bottom: 0px;
}

.sm-control-label {
  width: 60px;
  display: inline-block;
}

.toolbar-panel {
  padding: 5px 15px 2px 15px;
}